@{
    ViewData["Title"] = "Home";
}
    <head>
        <style>
        .imageAudi-container,
        .imageBMW-container,
        .imagePorsche-container 
        {
            display: inline-block; 
            vertical-align: top; 
            margin: 40px; 
        }

            .imageAudi-container:hover,
            .imageBMW-container:hover,
            .imagePorsche-container:hover 
            {
                border: 5px solid red;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th {
                border: 2px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <title>Car Owners</title>
<body>
    <h1>Car Owners List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Car</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var owner in Model)
            {
                <tr>
                    <td>@owner.Name</td>
                    <td>@owner.Age</td>
                    <td>@owner.Car</td>
                    <td>@owner.Model</td>
                </tr>
            }
        </tbody>
    </table>
    <hr>
	<h1 style="font-size:35px;text-align:center">Choose the Car</h1>
    <hr>
    <div class ="imageAudi-container">
        <a href="@Url.Action("Audi", "Home")">
            <img src="~/images/audilogo.jpg" alt="AudiLogo" width="400px" height="250px" style="border: 2px solid black;" />
       </a>
    </div>
    <div class="imageBMW-container">
        <a href="@Url.Action("BMW", "Home")">
        <img src="~/images/bmwlogo.jpg" alt="BMWLogo" width="250px" height="250px" style="border: 2px solid black;" />
        </a>
    </div>
    <div class="imagePorsche-container">
        <a href="@Url.Action("Porsche", "Home")">
    <img src="~/images/porschelogo.jpg" alt="PorscheLogo" width="250px" height="250px" style="border: 2px solid black;" />
       </a>
    </div>
</body>